<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AeroApp</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="tokenService.isAuthenticated()">
          <a class="nav-link" routerLink="/vuelos">Vuelos</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.isCliente()">
          <a class="nav-link" routerLink="/boletos/mios">Mis Boletos</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.isAdmin()">
          <b class="nav-link text-white">Admin Area</b>
        </li>
        <li class="nav-item" *ngIf="tokenService.isAdmin()">
          <a class="nav-link" routerLink="/admin/usuarios">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.isAdmin()">
          <a class="nav-link" routerLink="/admin/crear-vuelo">Crear Vuelo</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.isAdmin()">
          <a class="nav-link" routerLink="/admin/boletos">Boletos</a>
        </li>
        <li class="nav-item" *ngIf="tokenService.isAdmin()">
          <a class="nav-link" routerLink="/pago">Pago</a>
        </li>
      </ul>

      <!-- Si está autenticado, mostrar nombre y botón salir -->
      <div class="d-flex align-items-center position-relative" *ngIf="tokenService.isAuthenticated()">
        <span
          class="navbar-text text-white me-3 user-toggle"
          (click)="toggleLogout()"
          style="cursor: pointer;"
        >
          {{ tokenService.getUserName() }}
        </span>

        <button
          class="btn btn-danger position-absolute end-0 top-100 mt-1"
          *ngIf="mostrarLogout"
          (click)="logout()"
        >
          Salir
        </button>
      </div>

      <!-- Si NO está autenticado, mostrar botón de iniciar sesión -->
      <div *ngIf="!tokenService.isAuthenticated()">
        <a class="btn btn-success" routerLink="/login">Iniciar sesión</a>
      </div>
    </div>
  </div>
</nav>
