<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4 shadow-lg rounded-4 border-0">
        <h2 class="text-center text-success fw-bold mb-4">📝 Registro de Usuario</h2>

        <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">Nombre</label>
              <input formControlName="nom_usua" class="form-control" placeholder="Tu nombre" />
            </div>

            <div class="col-md-6">
              <label class="form-label">Apellido</label>
              <input formControlName="ape_usua" class="form-control" placeholder="Tu apellido" />
            </div>

            <div class="col-md-6">
              <label class="form-label">Correo</label>
              <input formControlName="correo" type="email" class="form-control" placeholder="ejemplo@correo.com" />
            </div>

            <div class="col-md-6">
              <label class="form-label">Contraseña</label>
              <input formControlName="clave" type="password" class="form-control" placeholder="••••••••" />
            </div>

            <div class="col-md-6">
              <label class="form-label">Fecha de Nacimiento</label>
              <input formControlName="fna_usua" type="date" class="form-control" />
            </div>
          </div>

          <div class="text-center mt-4 d-flex justify-content-center gap-3 flex-wrap">
            <button class="btn btn-success px-4 py-2 fw-bold shadow-sm" type="submit">
              Crear Cuenta
            </button>

            <button type="button" class="btn btn-link text-decoration-none text-primary fw-semibold" (click)="regresar()">
              ⬅️ Regresar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
